@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");

        body {
            margin: 0px;
            background-color: #fae1dd ;
        }

        .navBar {
            display: flex;
            background-image: linear-gradient(#ff80d5, #ccddff);
            height: 50px;
            justify-content: space-between;
        }

        .menu {
            display: flex;
            align-items: center;

        }

        .menu li {
            display: inline;
            margin: 0 20 px;
            align-items: center;
            position: relative;
        }

        .menu li a {
            color: #4d0066;
            text-decoration: none;
            display: inline-block;
            padding: 10px;
        }


        .subMenuShapes {
            display: none;
            background-image: linear-gradient(#ff80d5, #ccddff);
            text-align: center;
            width: 100%;
            padding: 5px;
            position: absolute;
            left: 0px;
            min-width: 140px;
            top: 100%;
            height: 200px;

        }

        .subMenuShapes li {
            display: block;
            margin: 0 20px;
            align-items: center;
            position: relative;
            height: 100px;
        }

        .shapes:hover .subMenuShapes {
            display: block;
        }

        .subMenuShapes li {
            display: block;
            margin: 8px;
        }



        .subMenuConnect {
            display: none;
            background-image: linear-gradient(#ff80d5, #ccddff);
            text-align: center;
            width: 100%;
            padding: 5px;
            position: absolute;
            left: 0px;
            min-width: 115px;
            top: 100%;

        }

        .subMenuConnect li {
            display: block;
            margin: 0 20px;
            align-items: center;
            position: relative;
        }

        .Connect:hover .subMenuConnect {
            display: block;
        }

        .subMenuConnect li {
            display: block;
            margin: 8px;
        }

        .search {
            border: 2px solid #808080;
            background-color: transparent;
            border-radius: 25px;
            text-align: center;
            color: white;
        }

        .NameOffice {
            text-align: center;
            margin: auto 10px;
        }

        .SignIn h4 {
            display: inline;
        }

        .heartSec {
            position: relative;
            display: inline-block;
            margin: auto;
        }

        .rec {
            position: absolute;
            width: 50px;
            height: 50px;
            background-color: red;
            transform: rotate(45deg);
        }
        .cir1 {
            position: absolute;
            width: 50px;
            height: 50px;
            background-color: red;
            border-radius: 50%;
            top: -17px;
            left: -17px;
        }

        .cir2 {
            position: absolute;
            width: 50px;
            height: 50px;
            background-color: red;
            border-radius: 50%;
            top: -17px;
            left: 16px;
        }

        .unlimitedSec {

            position: relative;

            display: inline-block;
            margin: auto;
        }

        .left {
            position: absolute;
            width: 50px;
            height: 50px;
            border: 2px solid red;
            border-bottom-left-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            transform: rotate(45deg);
        }

        .right {
            position: absolute;
            width: 50px;
            height: 50px;
            border: 2px solid red;
            border-bottom-left-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            transform: rotate(225deg);
            left: 73px;
        }

        .sub1 {
            width: 70px;

        }

        .sub2 {
            width: 0px;

        }
        .btnsignIn{
background-color: transparent;
border: none;
text-align: center;
margin:20px auto;
        }